header{
    text-align: center;
    margin: 30px;
    color: gray;  /* Fallback: assume this color ON TOP of image */
    
  }
  h1 {
    text-transform: uppercase;
    font-size: 70px;
    letter-spacing: 30px;
    font-weight: bold;
  }
  .sub-title{
    letter-spacing: 10px;
    font-weight: bold;
  }
  